@using TODO.Data.Models.ViewModels
@model IEnumerable<TODOUserVM>

@{
    ViewData["Title"] = "List of Users";
}

<div class="row">
    @foreach (var item in Model)
    {
                        <div class="col-md-4 col-xs-6 border-primary mb-3">
                                <div class="card mb-3" style="max-width: 540px;">
                                <div class="row g-0">
                                    <div class="col-md-12">
                                        <div class="card-header text-white" style="background-color:blueviolet"  >
                                            <p class="card-text">
                                                    <h5 class="card-title text-md-center text-white" >
                                    @item.Name
                                                </h5>
                                            </p>
                                        </div>
                                    </div>
                                        <div class="col-md-12">
                                    <img src="@item.ProfilePictureURL" width="100%" alt="@item.Name">
                                        </div>
                                    <div class="col-md-6">
                                        <div class="card-body">

                                                    <p class="card-text"><b>Name: </b>@item.Name</p>
                                                    <p class="card-text"><b>Surname: </b>@item.Surname</p>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="card-footer ">
                                            <p class="card-text">
                                @if (item.Notes != null && item.Notes.Any())
                                {
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>
                                                                <label asp-for="@item.Notes.First().NoteName"></label>
                                                    </th>
                                                    <th>
                                                                <label asp-for="@item.Notes.First().Priority"></label>
                                                    </th>
                                                     <th>
                                                                 Task Description
                                                     </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            @foreach (var note in @item.Notes)
                                            {
                                                            <tr>
                                                                <td>
                                                        @note.NoteName
                                                                </td>
                                                                <td>
                                                        @note.Priority
                                                                </td>
                                                                <td>
                                                                    <a class="btn btn-outline-dark" asp-controller="Notes" asp-action="Details" asp-route-id=@note.Id>Go to</a>
                                                                </td>
                                                            </tr>
                                            }   
                                            </tbody>
                                            
                                        </table>
                                }
                                                <a class="btn btn-outline-primary " asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i> Show Details</a>
                                                <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a>
                                                <a class="btn btn-danger text-white float-end" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
    }
</div>


<div style="position: fixed; right: 25px; bottom: 25px" class="text white">
    <a asp-controller="TODOUsers" asp-action="Create" class="btn btn-success">
    <i class="bi-bi plus circle"></i>Add New
    </a>
</div>


@section Scripts{ 
                <script>
                        const pictureUrlInput = document.getElementById('ProfilePictureURL');
                        const pictureElement = document.getElementById('ProfilePicturePreview');

                        pictureUrlInput.addEventListener('change', updateSrc);

                        function updateSrc(e) {
                             pictureElement.src = e.target.value;
                        }
                </script>
}